.DS_Store
/foldername

이름은 꼭 .gitignore 로 해야 함. 히든 파일들 커밋에서 제외 가능.
challenge0914/style.css
challenge 11/style.css
challenge0914/index.html
challenge 0913/index.html
challenge 0913/style.css
과제 1.html
과제 1.html
challenge 10/index.html
challenge 10/styles.css
challenge 11/container_left.css
challenge 11/container_right.css
challenge 11/index.html
과제 1.html
과제 1.html
